@model FoodDeliveryWebApplication.Models.CustomerAddresses

@{
    ViewBag.Title = "InsertAddress";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<section style="padding-top: 10em">

    <div class="container">
        <div class="card mx-auto p-2 col-md-6 col-12 bg-light mt-5">
            <div class="card-body ">
                <h2 class="text-center">Add/Update Address</h2>


                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

            <div class="form-horizontal">

                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                @Html.Hidden("AddId")

                <div class="form-group">
                    @Html.LabelFor(model => model.DoorOrFlatNo, htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.DoorOrFlatNo, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DoorOrFlatNo, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.LandMark, htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.LandMark, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.LandMark, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.AddressType, htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class="col-md-12">
                        @Html.DropDownListFor(model => model.AddressType, TempData["ddlAddressTypeList"] as List<SelectListItem>, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.AddressType, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.PinCode, htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.PinCode, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PinCode, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row form-group text-center mb-3 mt-3">
                    <div class="mx-auto">
                        <input type="submit" value="Add" id="btnAddAddress" class="btn btn-primary" />
                        <input type="button" value="Cancel" id="Cancel" onclick="location.href='@Url.Action("UserProfile", "Customer")'" class="btn btn-danger" />
                    </div>

                </div>



            </div>
                }
           
            </div>
        </div>
    </div>
</section>
<br />
<br />
<br />
<br />
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script>


    $("#btnAddAddress").on("click", function () {
       
        var AddId = $("#AddId").val();
        var DoorOrFlatNo = $("#DoorOrFlatNo").val();
        var LandMark = $("#LandMark").val();
        var AddressType = $("#AddressType").val();
        var PinCode = $("#PinCode").val();
        var obj = { "AddId": AddId, "DoorOrFlatNo": DoorOrFlatNo, "LandMark": LandMark, "AddressType": AddressType, "PinCode": PinCode };
        $.ajax({
            method:"POST",
            url: "/Address/AddAddress/",
            data: { "obj": obj },
            success: function (rslt) {
                alert(rslt);

            },
            error: function (err) {
                alert(err);
            }
        })


    })
   
        
        
</script>