
@model IEnumerable<FoodDeliveryWebApplication.Models.Dishes>

@{
    ViewBag.Title = "DishList";
    Layout = "~/Views/Shared/_RestaurantLayout.cshtml";
}



<section style="padding-top: 10em">

    <div class="container mt-5">

        @*<p>
            @Html.ActionLink("Create New", "Create")
        </p>*@
        @using (Html.BeginForm("DishList", "Dishes"))
        {
            @Html.TextBox("search")<input type="submit" value="Search" />
        }

        <table class="table table-bordered mt-3">
            <tr class="table-secondary">
                <th>
                    @Html.DisplayNameFor(model => model.DishName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DishImage)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DishPrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DishDesc)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VegorNonveg)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.DishCategory)
                </th>
         
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DishName)
                    </td>
                    <td>
                        
                        <img src="@Url.Content(item.DishImage)" width="70" height="70" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DishPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DishDesc)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VegorNonveg)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.DishCategory)
                    </td>
           
                    <td>
                        @Html.ActionLink("Edit", "Create", new { id = item.DishId }) |
                        @Html.ActionLink("Details", "Details", new { id = item.DishId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.DishId })
                    </td>
                </tr>
            }

        </table>
  
        <div class="loader-wrapper">
       

            <img class="loader" src="~/Content/GifImages/ezgif.com-gif-maker.gif"  />


        </div>



    </div>
    <div class="text-center mx-auto">
        <input type="submit" class="btn btn-primary btn-lg" value="Add a new dish" onclick="location.href='@Url.Action("Create", "Dishes")'" />
    </div>
    </section>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/CreatedScripts/PageLoader.js"></script>


