@model IEnumerable<FoodDeliveryWebApplication.Models.OrderDetails>

@{
    ViewBag.Title = "InvoiceView1";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<section style="padding-top: 10em">

    <div class="container">
        <div class="card">
            <div class="card-body">
                <div class="container mb-5 mt-3">


                    <div class="container">
                        <div class="col-md-12">
                            <div class="text-center">
                                <h3>Invoice</h3>
                            </div>

                        </div>

                        @foreach (var item in Model)
                        {
                            <div class="row">
                                <div class="col-xl-8">
                                    <ul class="list-unstyled">
                                        <li class="text-muted">To: <span style="color:#5d9fc5 ;">@item.CusName</span></li>
                                        <li class="text-muted">Door/Flat No.: @item.DoorOrFlatNo</li>
                                        <li class="text-muted">Pincode: @item.PinCode</li>
                                        <li class="text-muted">Address Type: @item.AddressTypeName</li>
                                        <li class="text-muted">Landmark: @item.LandMark</li>

                                    </ul>
                                </div>
                                <div class="col-xl-4">
                                    <p class="text-muted">Invoice</p>
                                    <ul class="list-unstyled">
                                        <li class="text-muted">
                                            <i class="fas fa-circle" style="color:#84B0CA ;"></i> <span class="fw-bold">ID:@item.id</span>#123-456
                                        </li>
                                        <li class="text-muted">
                                            <i class="fas fa-circle" style="color:#84B0CA ;"></i> <span class="fw-bold">Ordered Date:@item.Orderdate </span>Jun 23,2021
                                        </li>

                                    </ul>
                                </div>
                            </div>

                            <div class="row my-2 mx-1 justify-content-center">
                                @{
                                    int i = 1;
                                }
                                <table class="table table-striped table-borderless">
                                    <thead style="background-color:#84B0CA ;" class="text-white">
                                        <tr>
                                            <th scope="col">Sl No</th>
                                            <th scope="col">Description</th>
                                            <th scope="col">Qty</th>
                                            <th scope="col">Price</th>

                                        </tr>
                                    </thead>
                                    @foreach (var dish in item.FoodDetails)
                                    {
                                        <tbody>
                                            <tr>
                                                <th scope="row">@i</th>
                                                <td><img src="@Url.Content(dish.DishImage)" /> @dish.DishName</td>
                                                <td>@dish.DishQuantity</td>
                                                <td>@dish.DishPrice</td>

                                            </tr>

                                        </tbody>
                                        i++;
                                    }


                                </table>
                            </div>
                            <div class="row">
                                <div class="col-xl-8">
                                    <p class="ms-3">Add additional notes and payment information</p>

                                </div>
                                <div class="col-xl-3">

                                    <p class="text-black float-start">
                                        <span class="text-black me-3"> Total Amount</span><span style="font-size: 25px;">Rs. @item.TotalAmount /-</span>
                                    </p>
                                </div>
                            </div>

                        }

                        <hr>
                        <div class="row">
                            <div class="col-xl-12">
                                <p class="text-center">Thank you for your purchase :)</p>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

