@model IEnumerable<FoodDeliveryWebApplication.Models.OrderDetails>




        
           
                    

                
                        <div class="text-center mx-auto">
                          
                                <h1>Invoice</h1>
                         

                        </div>

                        @foreach (var item in Model)
                        {
                            <div class="row">
                                <div class="col-xl-12">
                                    <ul class="list-unstyled" style="list-style-type: none; font-weight: bold; ">
                                        <li class="text-muted">To: <span style="color:#5d9fc5 ;">@item.CusName</span></li>
                                        <li class="text-muted">Door/Flat No.: @item.DoorOrFlatNo</li>
                                        <li class="text-muted">Pincode: @item.PinCode</li>
                                        <li class="text-muted">Address Type: @item.AddressTypeName</li>
                                        <li class="text-muted">Landmark: @item.LandMark</li>

                                    </ul>
                                </div>
                                <div class="col-xl-12 mx-auto">
                                    
                                    <ul class="list-unstyled">
                                        <li class="text-muted">
                                            <i class="fas fa-circle" style="color:#84B0CA ;"></i> <span class="fw-bold">ID : @item.id</span>
                                        </li>
                                        <li class="text-muted">
                                            <i class="fas fa-circle" style="color:#84B0CA ;"></i> <span class="fw-bold">Ordered Date : @item.Orderdate.ToShortDateString()  </span>Jun 23,2021
                                        </li>
                                    
                                    </ul>
                                </div>
                            </div>

                        <div class="row my-2 mx-auto mt-5 justify-content-center text-center">
                            @{ 
                                int i = 1;
                            }
                            <table class="table table-striped table-borderless col-md-12">
                                <thead style="background-color:#84B0CA ;" class="text-white">
                                    <tr>
                                        <th scope="col">Sl No</th>
                                        <th scope="col">Description</th>
                                        <th scope="col">Qty</th>
                                        <th scope="col">Price</th>
                                       
                                    </tr>
                                </thead>
                                @foreach (var dish in item.FoodDetails)
                                {
                                    <tbody>
                                        <tr>
                                            <th scope="row">@i</th>
                                            <td><img src="@Url.Content(dish.DishImage)" class="rounded-circle" style="height:60px;width:60px"/> @dish.DishName</td>
                                            <td>@dish.DishQuantity</td>
                                            <td>@dish.DishPrice</td>
                                         
                                        </tr>

                                    </tbody>
                                    i++;
                                }


                            </table>
                        </div>
                        <hr />
                        <div class="row">
                          
                            <div class="col-xl-12 ">
                   
                                <p class="text-black float-start">
                                    <span class="text-black me-3 mx-5"> Total Amount</span><span style="font-size: 20px;"> Rs. @item.TotalAmount /-</span>
                                </p>
                            </div>
                        </div>

                        }

                        <hr>
                        <div class="row">
                            <div class="col-xl-12">
                                <p class="text-center">Thank you :)</p>
                            </div>
                         
                        </div>

                   
     
    









                
