@using FoodDeliveryWebApplication;
@model dynamic

@{
    ViewBag.Title = "UserProfile";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<section style="padding-top:10em">
    <div class="container">
        <div class="card bg-light w-50 mx-auto mt-5">
            <div class="card-body">
                <div class="row p-3 bg-dark">
                   
                        <div class="col-md-6 mx-auto text-center my-auto">
                            <img src="@Url.Content(@Model.Customer.Image)" style="width:150px;height:150px" class="rounded-circle border border-success border-3 " />
                        </div>
                        <div class="col-md-6 my-auto text-white">
                            <h4>@Model.Customer.Name</h4>
                            <p class="text-secondary">Pincode: @Model.Customer.Pincode</p>
                            <a style="position:absolute;right:50px;top:30px" href="/Customer/EditProfile/@Model.Customer.Id"><i class="fa-solid bg-white rounded-circle fa-1x p-2 fa-pen"></i></a>
                        </div>


                </div>
                <div class="row border p-0">
                    <div  class="col-md-6 my-auto text-center ">
                        <span class="text-center my-auto fs-5 m-2">Addresses</span><a  href="/Customer/ManageAddress/0"><i  class="fa fa-plus bg-white rounded-circle" aria-hidden="true"></i></a>

                    </div>
                    <div class="col-md-6 my-auto text-center" >
                        <span class="text-center my-auto fs-5 m-2">Phone Numbers</span><a href="/Customer/InsertNumber"><i class="fa fa-plus bg-white rounded-circle" aria-hidden="true"></i></a>
                    </div>
                    <hr />
                    <div class="col-md-6 border p-0">
                        @foreach (var item in Model.Address)
                        {
                            <div class="row p-0">
                                <div class="col-md-12">

                                    <div class="card p-0" style="background-color: #EDEAF2 ">
                                        <div class="card-body">


                                            <div class="card-body p-0">
                                                <table>
                                                    <tr>
                                                        <td>
                                                            <p class="text-secondary">Door/Flat No. : </p>
                                                        </td>
                                                        <td>
                                                            <p>@item.DoorOrFlatNo</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <p class="text-secondary">Landmark : </p>
                                                        </td>
                                                        <td>
                                                            <p>@item.LandMark</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <p class="text-secondary">Pincode : </p>
                                                        </td>
                                                        <td>
                                                            <p>@item.PinCode</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <p class="text-secondary">Address type : </p>
                                                        </td>
                                                        <td>
                                                            <p>@item.AddressTypeName</p>
                                                        </td>
                                                    </tr>
                                                </table>

                                                <a style="position:absolute;right:50px;top:10px" href="/Customer/ManageAddress/@item.AddId"><i class="fa-solid fa-pen"></i></a>
                                                <button class="delAddress btn border-0" id="@item.AddId"  style="position:absolute;right:5px;top:5px" ><i  class="fa fa-trash addId" aria-hidden="true"></i></button>

                                                
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        }

                    </div>
                    <div class="col-md-6 border">
                      

                        @foreach (var item1 in Model.Phone)
                        {
                            <div class="row ">
                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="card-body my-auto">
                                            <table>
                                                <tr>
                                                    <td>
                                                        <p class="text-secondary"><i class="fa-solid fa-phone"></i> </p>
                                                    </td>
                                                    <td>
                                                        <p>@item1.PhoneNumber</p>

                                                    </td>
                                                    <td>
                                                        <button class="delPhone btn border-0 " id="@item1.PhoneId" style="position:absolute;top:12px;right:10px"><i class="fa fa-trash addId" aria-hidden="true"></i></button>
                                                    </td>
                                                </tr>
                                            </table>

                                        </div>
                                    </div>


                                </div>

                            </div>
                            
                          
                           
                        }

                    </div>



                </div>

            </div>

        </div>

    </div>
</section>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
    $(".delAddress").click(function () {
        var id = this.id;
        url = "/Address/DeleteAddresses/"
        $.ajax({
            type: "POST",
            url: url,
            data: { 'id': id },
            success: function (data) {
                alert(data);
                location.reload();
            },
            erro: function (err) {
                alert(err);
            }

        });
    })

    $(".delPhone").click(function () {
        var id = this.id;
        url = "/Address/DeletePhoneNo/"
        $.ajax({
            type: "POST",
            url: url,
            data: { 'phId': id },
            success: function (data) {
                alert(data);
                location.reload();
            },
            erro: function (err) {
                alert(err);
            }

        });
    })
    
</script>


