@using FoodDeliveryWebApplication;
@model dynamic

@{
    ViewBag.Title = "CartItemsDisplay";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<section style="padding-top:10em" class="mx-auto" >
    <div class="container w-50">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <img src="@Url.Content(@Model.RestDetails.Image)" style="width:150px;height:150px" class="rounded-circle border border-success border-3 " />
                    </div>
                    <div class="col-md-6">
                        <h4>@Model.RestDetails.RestaurantName</h4>
                    </div>

                </div>
                <hr />
                @foreach (var item in Model.CartItem)
                {
                    <div class="row mt-3 mb-3 mx-auto">

                        <div class="col-md-12 card shadow mx-auto bg-light mb-3">
                            <div class="card-body">
                                <div class="col-md-4">
                                    <img src="@Url.Content(item.DishImage)" style="width:80px;height:80px" class="rounded-circle border border-success border-3 " />

                                </div>
                                <div class="col-md-4">
                                    <h5>@item.DishName</h5>

                                </div>
                                <div class="col-md-4">
                                    <a href="#"><i class="icon-remove"></i></a>

                                </div>

                            </div>
                        </div>
                    </div>

                }


            </div>

        </div>
    </div>




</section>



