@model FoodDeliveryWebApplication.Models.ReviewRating

@{
    ViewBag.Title = "PostAReview";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}
<link href="~/Content/css/CreatedCSS/glyphiconColor.css" rel="stylesheet" />
<section style="padding-top:10em">
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-6">
                <h3>Ratings & Reviews</h3>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6 my-auto">
                        <h3>@Model.RestName</h3>
                    </div>
                    <div class="col-md-6">
                        <img src="@Url.Content(Model.RestImage)" style="width:100px;height:100px" class="rounded-circle shadow text-center img-fluid " />
                    </div>
                </div>
               
                
                
            </div>

        </div>
        <hr />


        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

    <div class="form-horizontal mt-5 align-content-center mx-auto">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">
            @Html.LabelFor(model => model.ReviewContent, htmlAttributes: new { @class = "control-label col-md-12" })
            <div class="col-md-12">
                @Html.TextAreaFor(model => model.ReviewContent, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ReviewContent, "", new { @class = "text-danger" })
            </div>
        </div>

        <textarea rows="6" cols="50" id="txtComment"></textarea>
        <div class="mt-3">
            <span id="span1" onmouseover="RateOver(1)" onmouseout="RateOut(1)" class="starEmpty"></span>
            <span id="span2" onmouseover="RateOver(2)" onmouseout="RateOut(2)" class="starEmpty"></span>
            <span id="span3" onmouseover="RateOver(3)" onmouseout="RateOut(3)" class="starEmpty"></span>
            <span id="span4" onmouseover="RateOver(4)" onmouseout="RateOut(4)" class="starEmpty"></span>
            <span id="span5" onmouseover="RateOver(5)" onmouseout="RateOut(5)" class="starEmpty"></span>
        </div>

        <div class="form-group mt-3">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Post" class="btn btn-primary btn-block" />
            </div>
        </div>
    </div>
        }
    </div>
    </section>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
    function RateOver(rating) {
        for (var i = 1; i <= rating; i++) {
            $("#span" + i).attr('class', 'starFilled');
        }
    }
    function RateOut(rating) {
        for (var i = 1; i <= rating; ++i) {
            $("#span" + i).attr('class', 'starEmpty');
        }
    }
</script>
